<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Translate POC</title>
        <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-app="app" class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#/home" translate>Home</a></li>
                    <li><a href="#/page1" translate>Page 1</a></li>
                    <li><a href="#/page2" translate>Page 2</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-controller="languageController">
                    <li ng-class="{active: language === 'en'}"><a href="" ng-click="setLanguage('en')" translate>English</a></li>
                    <li ng-class="{active: language === 'de'}"><a href="" ng-click="setLanguage('de')" translate>German</a></li>
                    <li ng-class="{active: language === 'fr'}"><a href="" ng-click="setLanguage('fr')" translate>French</a></li>
                    <li ng-class="{active: language === 'it'}"><a href="" ng-click="setLanguage('it')" translate>Italian</a></li>
                </ul>
            </div>
        </nav>

        <h1 translate>Translate POC</h1>

        <div ng-view></div>

        <div ng-bind="dynamicMessage" ng-controller="dynamicMessageController"></div>

        <script src="../../bower_components/angular/angular.js"></script>
        <script src="../../bower_components/angular-route/angular-route.js"></script>
        <script src="../../bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script language="JavaScript" src="app.js"></script>
    </body>
</html>
